NEXT_PUBLIC_NAVER_MAP_CLIENT_ID=your_naver_maps_client_id
NAVER_MAP_CLIENT_SECRET=your_naver_cloud_maps_client_secret
NAVER_SEARCH_CLIENT_ID=your_naver_developers_search_client_id
NAVER_SEARCH_CLIENT_SECRET=your_naver_developers_search_client_secret
KAKAO_REST_API_KEY=your_kakao_rest_api_key
